# Ignorer le dossier de build de Yocto
build/bitbake-cookerdaemon.log
build/bitbake.lock
build/cache/
build/tmp/
build/pn-buildlist
build/task-depends.dot
rpi5_yocto_udemy/sources/meta-moz/recipes-apps/yoctoqt6demo/files/build

# Ignorer les fichiers générés par BitBake
*.log
*.lock
*.done
*.sigdata
*.run
*.rcc
*cmake
*.qt
*.qtc
*.qtc_clangd

# Ignorer les fichiers de compilation C/C++
*.o
*.a
*.so
*.bin
*.elf
