# Ignorer le dossier de build de Yocto
build/bitbake-cookerdaemon.log
build/bitbake.lock
build/cache/
build/tmp/
build/pn-buildlist
build/task-depends.dot

# Ignorer les fichiers générés par BitBake
*.log
*.lock
*.done
*.sigdata
*.run

# Ignorer les fichiers de compilation C/C++
*.o
*.a
*.so
*.bin
*.elf
