[submodule "poky"]
	path = externals/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "meta-qt5"]
	path = externals/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-openembedded"]
	path = externals/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-raspberrypi"]
	path = externals/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "meta-qt6"]
	path = meta-qt6
	url = git://code.qt.io/yocto/meta-qt6.git
[submodule "externals/meta-qt6"]
	path = externals/meta-qt6
	url = git://code.qt.io/yocto/meta-qt6.git
